<article class='chat'>
  {{ >Avatar avatar='/images/avatar.png'}}
  <div class='chat__content'>
    <h2>{{ name }}</h2>
    <p>{{ messageText }}</p>
  </div>
  <div class='chat__unreaded-count'> </div>
</article>
