<article class='chat'>
  {{{ avatar }}}
  <div class='chat__content'>
    <h2 class='chat__name'>{{ name }}</h2>
    <p class='chat__message'>{{ lastMessage }}</p>
  </div>
  <div class='chat__unreaded-info'>
    <p class='chat__unreaded-count'>{{ unreadedCount }}</p>
  </div>
</article>
