<main>
	<a class='link' href='#' data-page='errorPage404'>Страница 404</a>
	<a class='link' href='#' data-page='errorPage500'>Страница 500</a>
  <div class='modal'>
    {{{ modalTitle }}}
    {{{ form }}}
    {{{ registrationLink }}}
  </div>
</main>
