@import 'src/assets/variables.scss';

.chat-page {
  display: flex;
  flex-direction: row;
  gap: $spacing__large;
}

.chat-page__side-column {
  flex: 0 1 360px;
  display: flex;
  flex-direction: column;
  gap: $spacing__medium;
}

.chat-page__messenger {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
