<main>
	{{> PageTitle text='CHAT PAGE'}}

	<nav class="navigation">
		{{> Link link='#' hrefPage='LoginPage' text='Авторизация' }}
		{{> Link link='#' hrefPage='RegistrationPage' text='Регистрация' }}
		{{> Link link='#' hrefPage='ErrorPage404' text='Страница 404' }}
		{{> Link link='#' hrefPage='ErrorPage500' text='Страница 500' }}
		{{> Link link='#' hrefPage='ProfilePage' text='Профиль' }}
	</nav>

</main>