@import 'src/assets/variables';

.chat-page {
  display: flex;
  flex-direction: row;
  gap: $spacing__large;
}

.chat-info {
  display: flex;
  align-items: center;
	gap: $spacing__medium;
	background-color: $color__surface;
	border-radius: $border-radius_large;
  margin-bottom: auto;
}

.chat-info_details {
  flex-direction: column;
  align-items: center;
  gap: $spacing__large;
	padding: $spacing__medium;
}

.chat-info__show-details {
  margin-left: auto;
}

.chat-page__side-column {
  flex: 0 1 360px;
  display: flex;
  flex-direction: column;
  gap: $spacing__medium;
  max-height: calc(100vh - 2 * #{$spacing__medium});
  overflow: auto;
  padding-right: $spacing__medium;
}

.chat-page__manage-chats {
  display: flex;
  align-items: center;
  gap: $spacing__medium;
}

.manage-chats__search-chat {
  flex-grow: 1;
}

.manage-chats__add-chat {
  height: 100%;
  aspect-ratio: 1;
  border-radius: $border-radius_large;
  background-color: $color__surface;
}

.chat-page__messenger {
  flex: 1;
  max-height: 100%;
  overflow-y: hidden;
}

.chat-page__messenger .list {
  overflow: auto;
}

.messenger {
  position: relative;
  display: flex;
  gap: $spacing__medium;
  flex-direction: column;
  justify-content: flex-end;
}

.messenger .form {
  width: auto;
}

.messenger__message-input {
  flex-grow: 1;
}

.messenger__send-button {
  position: absolute;
  right: $spacing__small;
  bottom: $spacing__small;
}
