@import 'src/assets/variables';

.chat-page {
  display: flex;
  flex-direction: row;
  gap: $spacing__large;
}

.chat-page__side-column {
  flex: 0 1 360px;
  display: flex;
  flex-direction: column;
  gap: $spacing__medium;
  max-height: calc(100vh - 2 * #{$spacing__medium});
  overflow: auto;
  padding-right: $spacing__medium;
}

.chat-page__messenger {
  flex: 1;
  position: relative;
}

.messanger {
  display: flex;
  flex-direction: column;
}

.messenger__message-input {
  position: absolute;
  inset: auto 0 0;
}
