<main>
  {{#> Modal title='Регистрация'}}
    {{> Form submitButtonText='Зарегистрироваться' hrefPage='ChatPage' }}
    {{> Link link='#' hrefPage='LoginPage' text='Есть аккаунт?' }}
  {{/ Modal}}
</main>