{{> Link link='#' hrefPage='ProfilePage' text='Вернуться к профилю' additionalClasses='link_back errorPageWrapper__link' }}

<main>
  {{#> Modal }}
    {{> Form submitButtonText='Сохранить' hrefPage='ProfilePage' }}
  {{/ Modal}}
</main>
