@import 'src/assets/variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing__small;
  height: 40px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 0;
  cursor: pointer;

  &_primary {
    background-color: $color__primary;
    color: $color-text__dark_accent;
  }

  &_submit {
    margin-top: $spacing__medium;
  }

  &_secondary {
    background-color: $color__secondary;
    color: $color__primary-light;
  }

  &_with-icon {
    background-color: transparent;
    width: fit-content;
  }
}
