<button class='button {{ additionalClasses }}' data-page='{{ hrefPage }}' {{#if disabled}} 'disabled' {{/if}}>
  {{#if icon}}<span class='button__icon'>{{{ icon }}}</span>{{/if}}
  {{#if text}}<span class='button__text'>{{ text }}</span>{{/if}}
</button>
