@import "./assets/variables";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font: 500 14px/14px #{$font-family__primary};
  background-color: $color__background;
  color: $color-text__light_main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

button {
  font-size: inherit;
  line-height: inherit;
}

a, 
button {
  cursor: pointer;
}

#app {
  height: 100%;
  width: 100%;
  padding: $spacing__large;
}

main {
  height: 100%;
  width: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing__modal;
  width: fit-content;
  padding: $spacing__extra-large;
  background-color: $color__surface;
  border-radius: $border-radius_large;
}