@import "./assets/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font: 500 14px/14px #{$font-family__primary};
  background-color: $color__background;
  color: $color-text__light_main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-size: inherit;
  line-height: inherit;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing__modal;
  padding: $spacing__extra-large;
  background-color: $color__surface;
  border-radius: $border-radius_large;
}
