<main class='errorPageWrapper'>
  {{> Link link='#' hrefPage='ChatPage' text='Вернуться к чатам' additionalClasses='link_back errorPageWrapper__link' }}
  <img src='{{errorImgSrc}}' class='errorPageWrapper__image' alt='Произошла ошибка!'>
</main>
